@using LawOffice.Core.Models
@model OrderFeedbackViewModel
@{
    ViewData["Title"] = "Order Feed Back";
}

<div class="row">
    <div class="col-4">
        <form id="edit" method="post">
            <input type="hidden" name="OrderId" value="@Model.OrderId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="FeedBack" class="form-label"></label>
                <input asp-for="FeedBack" class="form-control" aria-required="true" />
                <span asp-validation-for="FeedBack" class="text-danger"></span>
            </div>            
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>