@{
    ViewData["Title"] = "Confirm Page";
}

<div class="text-center">
    <h1 class="display-5">Your order was sucessfuly hand over to us.</h1> 
    <p>Learn about <a href="/">building Web apps with ASP.NET Core</a>.</p>
</div>