@using LawOffice.Core.Models
@model ClienLawInfoViewModel

@{
    ViewData["Title"] = "Client Info Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.TypeOfLaw</h1>
    <p>@Model.InfoAboutLaw</p>
</div>