<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a href="/admin/user/manageusers" class="nav-link">
                    <i class="fas fa-hashtag"></i>
                    <p>
                        Admin Area
                    </p>
                </a>
            </li>   
        }
        @if (User.IsInRole("Personnel") && !User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a href="/Home/WelcomOnWork" class="nav-link">
                    <i class="fas fa-hashtag"></i>
                    <p>
                        Home
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Home/WelcomOnWork" class="nav-link">
                    <i class="fas fa-hashtag"></i>
                    <p>
                        WorkTask1
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Home/WelcomOnWork" class="nav-link">
                    <i class="fas fa-hashtag"></i>
                    <p>
                        WorkTask2
                    </p>
                </a>
            </li>
        }
        else if (!User.IsInRole("Personnel") && !User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fas fa-hashtag"></i>                    
                    <p>
                        Home
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/client/info/D1EA78F6-3438-4A56-8A9C-7BC64BA9E887" class="nav-link">
                    <i class="fas fa-hashtag"></i>
                    <p>
                        Law1
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/client/info/1BC518BA-9F27-41A5-AB2E-DE71B9FD2822" class="nav-link">
                    <i class="fas fa-hashtag"></i>
                    <p>
                        Law2
                    </p>
                </a>
            </li>
             <li class="nav-item">
                <a href="/client/clientorder" class="nav-link">
                    <i class="fas fa-hashtag"></i>
                    <p>
                        Contact Us
                    </p>
                </a>
            </li>
        }








        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        @*<li class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Starter Pages
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Active Page</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Inactive Page</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Simple Link
                    <span class="right badge badge-danger">New</span>
                </p>
            </a>
        </li>
    </ul>*@
</nav>