@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>General Data: The use of our services will automatically create information that will be collected. For example, when you use our
Services, your geographic location, how you use the Services, information about the type of device you use, your Open Device
Identification Number, date/time stamps for your visit, your unique device identifier, your browser type, operating system, Internet
Protocol (IP) address, and domain name are all collected. This information is generally used to help us deliver the most relevant
information to you and administer and improve the Site. .</p>
