@{
    ViewData["Title"] = "Work Desk Home Page";
}

<div class="text-center">
    <h1 class="display-5">Please follow safety first company policy at work!</h1>    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
